.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.title {
    padding: 20px 30px;
    background-color: rgb(248, 222, 76);
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
}

.cardForm {
    padding: 30ps;
}

.full-width {
    width: 100%;
}

.center-text {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.question {
    padding-top: 20px;
}

#addBtn[disabled]{
    background-color: rgb(178, 180, 190);
}

#addBtn {
    color: white;
    background-color: rgb(248, 222, 76);
    width: auto;
    height: auto;
    padding: 5px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

