<div class="container">
    <mat-card class="title">
        <p>Add new Activity</p>
    </mat-card>
    <mat-card class="cardForm">
        <form [formGroup]="form" style="margin-left: 1em" (submit)="submit()">
            <mat-form-field class="full-width">
                <input matInput formControlName="name" placeholder="Activity name" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput formControlName="location" placeholder="Location" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput formControlName="host" placeholder="Host" required>
            </mat-form-field>

            <table class="full-width" cellspacing="0">
                <div class="question">Period of registration</div>
                <tr>
                    <td>
                        <mat-form-field class="full-width" style="padding-right: 10px;">
                            <input matInput formControlName="startPeriodRegis" [matDatepicker]="startDateRegis"
                                placeholder="Start" required>
                            <mat-datepicker-toggle matSuffix [for]="startDateRegis"></mat-datepicker-toggle>
                            <mat-datepicker #startDateRegis></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width" style="padding-left: 10px;">
                            <input matInput formControlName="endPeriodRegis" [matDatepicker]="EndDateRegis"
                                placeholder="End" required>
                            <mat-datepicker-toggle matSuffix [for]="EndDateRegis"></mat-datepicker-toggle>
                            <mat-datepicker #EndDateRegis></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <div class="question">Date of activity</div>
                <tr>
                    <td>
                        <mat-form-field class="full-width" style="padding-right: 10px;">
                            <input matInput formControlName="startDate" [matDatepicker]="startDateAct"
                                placeholder="Start" required>
                            <mat-datepicker-toggle matSuffix [for]="startDateAct"></mat-datepicker-toggle>
                            <mat-datepicker #startDateAct></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width" style="padding-left: 10px;">
                            <input matInput formControlName="endDate" [matDatepicker]="EndDateAct" 
                                placeholder="End" required>
                            <mat-datepicker-toggle matSuffix [for]="EndDateAct"></mat-datepicker-toggle>
                            <mat-datepicker #EndDateAct></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <mat-form-field hintLabel="HH.MM a.m./p.m." class="full-width">
                <input matInput formControlName="time" placeholder="Time" required>
            </mat-form-field>
            <mat-form-field class="full-width" style="padding-top: 20px;">
                <textarea matInput formControlName="description" placeholder="Description"></textarea>
            </mat-form-field>
            <div class="center">
                <button mat-raised-button id="addBtn" type="submit" [disabled]="!form.valid">Add</button>
            </div>
        </form>
    </mat-card>
</div>