<div class="container">
    <mat-card class="title">
        <p><b>Student: </b> {{student?.name}} {{student?.surname}}</p>
    </mat-card>
    <div style="padding: 10px 0px;"></div>
    <mat-card class="contentContainer">
        <h5 class="tableTitle">Pending</h5>
        <div class="tableContainer">
            <table #pendingTable mat-table class="full-width-table" aria-label="Elements">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th #pendingSort mat-header-cell *matHeaderCellDef>ID.</th>
                    <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th #pendingSort mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
                </ng-container>
                <!-- Teacher's name Column -->
                <ng-container matColumnDef="host">
                    <th #pendingSort mat-header-cell *matHeaderCellDef>Teacher</th>
                    <td mat-cell *matCellDef="let activity">{{activity.host}}</td>
                </ng-container>
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let activity">{{activity.date}}</td>
                </ng-container>
                <!-- Time Column -->
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef>Time</th>
                    <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="pending-row"></tr>
            </table>
            <mat-paginator #pendingPaginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="5"
                [pageSizeOptions]="[5, 10, 15, 20]">
            </mat-paginator>
        </div>
    </mat-card>

    <mat-card class="contentContainer">
        <h5 class="tableTitle">Confirmed</h5>
        <div class="tableContainer">
            <table #confirmTable mat-table class="full-width-table" matSort aria-label="Elements">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID.</th>
                    <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
                </ng-container>
                <!-- Teacher's name Column -->
                <ng-container matColumnDef="host">
                    <th mat-header-cell *matHeaderCellDef>Teacher</th>
                    <td mat-cell *matCellDef="let activity">{{activity.host}}</td>
                </ng-container>
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let activity">{{activity.date}}</td>
                </ng-container>
                <!-- Time Column -->
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef>Time</th>
                    <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="confirm-row"></tr>
            </table>
            <mat-paginator #confirmPaginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="5"
                [pageSizeOptions]="[5, 10, 15, 20]">
            </mat-paginator>
        </div>
    </mat-card>
</div>