<div class="container">
  <mat-card class="title">
    <p>Registration Form</p>
  </mat-card>

  <mat-card class="contentContainer">
    <form style="margin-left: 1em" [formGroup]="form" (submit)="submit()">

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="First name" formControlName="name" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="surname" formControlName="surname" required>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Student Id" formControlName="studentId" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Major" formControlName="major" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Year" formControlName="year" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Enter your email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field hintLabel="The image should contain url" class="full-width">
        <input matInput placeholder="file name" formControlName="image" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>

      <!-- Submit button -->
      <div class="center">
        <button mat-raised-button color="primary" type="submit" class="regis-button"
          [disabled]="!form.valid">Register</button>
      </div>
    </form>
  </mat-card>
</div>