.container {
  margin-top: 3%;
  margin-bottom: 3%;
}

.contentContainer {
  padding: 30px;
  margin-top: 10px;
}

.title {
  padding: 20px 30px;
  background-color: rgb(255, 153, 70);
  color: white;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

.full-width {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.regis-button {
  margin-top: 30px;
  background-color: rgb(255, 153, 70);
  transition: 500ms;
}

.regis-button:hover {
  background-color: rgb(233, 140, 64);
}