.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.contentContainer {
    padding: 30px;
    margin-top: 10px;
}

.tableContainer {
    border: solid rgb(201, 201, 201) 1px;
    border-radius: 10px
}

.title {
    padding: 20px 30px;
    background-color: rgb(129, 110, 211);
    color: white;
    font-size: 20px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

.center-button {
    text-align: center;
}

.center-text {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.formField {
    margin: 1% 0 0 0;
}

#backBtn {
    margin: 6px 20px 0px 2px;
    cursor: pointer;
    transition: 400ms;
}
  
#backBtn:hover {
    color: rgb(167, 167, 167);
}
  
#backBtn:active {
    color: rgb(83, 83, 83);
}

#topic{
    margin: 6px 20px 0px 2px;
}