.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(76, 118, 233)
}

.menu-spacer {
  margin: 0px 10px;
}

.myLink {
  transition: 400ms;
}

.myLink:hover {
  background: white;
  text-decoration: none;
}

.clicked {
  background: white;
  color: rgb(37, 65, 158);
}

.logoutBtn {
  transition: 400ms;
  margin-left: 20px;
}

.logoutBtn:hover {
  background: rgb(117, 37, 37);
  text-decoration: none;
}

.nav-content {
  background-image: url('https://www.icanbecreative.com/res/freeweb/2011/04/paper_boat.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#backBtn {
  margin: 0px 15px 0px 10px;
  cursor: pointer;
  transition: 400ms;
}

#backBtn:hover {
  color: rgb(167, 167, 167);
}

#backBtn:active {
  color: rgb(83, 83, 83);
}