<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <!-- Student -->
            <a *ngIf="isStudent()" mat-list-item [routerLink]="['/student/enrollActivity/1']"
                routerLinkActive="router-link-active">Enroll
                Activity</a>
            <a *ngIf="isStudent()" mat-list-item [routerLink]="['/student/update_profile/1']"
                routerLinkActive="router-link-active">Update
                Profile</a>
            <a *ngIf="isStudent()" mat-list-item [routerLink]="['/student/view-enrolled-act/1']"
                routerLinkActive="router-link-active">View
                Enrolled Activity</a>
            <!-- Teacher -->
            <a *ngIf="isTeacher()" mat-list-item [routerLink]="['/teacher/waiting-list/1']"
                routerLinkActive="router-link-active">View
                Waiting List</a>
            <a *ngIf="isTeacher()" mat-list-item [routerLink]="['/teacher/activity-list/1']"
                routerLinkActive="router-link-active">Your
                Activity</a>
            <!-- Admin -->
            <a *ngIf="isAdmin()" mat-list-item [routerLink]="['/confirm-reject-student']"
                routerLinkActive="router-link-active">Confirm-Reject Student</a>
            <a *ngIf="isAdmin()" mat-list-item [routerLink]="['/Add-activity']"
                routerLinkActive="router-link-active">Add Activity</a>
            <!-- Logout -->
            <a mat-list-item [routerLink]="['login']" routerLinkActive="router-link-active">Log out</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="nav-content">
        <mat-toolbar color="primary" *ngIf="isShowNav()">
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                    *ngIf="isShowMenu() && !isRegis()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <mat-icon *ngIf="isRegis()" id="backBtn" aria-hidden="false" aria-label="arrow_back"
                    [routerLink]="['/login']" routerLinkActive="router-link-active">arrow_back</mat-icon>
                <h1>Learning Through Activity</h1>
                <span *ngIf="!isShowMenu() || isRegis()" class="menu-spacer">:</span>
                <span *ngIf="isRegis()" class="menu-spacer">Registration</span>
                <!-- Student -->
                <a *ngIf="!isShowMenu() && isStudent()" class="myLink" mat-button
                    [routerLink]="['/student/enrollActivity/1']" routerLinkActive="router-link-active">Enroll
                    Activity</a>
                <a *ngIf="!isShowMenu() && isStudent()" class="myLink" mat-button
                    [routerLink]="['/student/update_profile/1']" routerLinkActive="router-link-active">Update
                    Profile</a>
                <a *ngIf="!isShowMenu() && isStudent()" class="myLink" mat-button
                    [routerLink]="['/student/view-enrolled-act/1']" routerLinkActive="router-link-active">View
                    Enrolled Activity</a>
                <!-- Teacher -->
                <a *ngIf="!isShowMenu() && isTeacher()" class="myLink" mat-button
                    [routerLink]="['/teacher/waiting-list/1']" routerLinkActive="router-link-active">View
                    Waiting List</a>
                <a *ngIf="!isShowMenu() && isTeacher()" class="myLink" mat-button
                    [routerLink]="['/teacher/activity-list/1']" routerLinkActive="router-link-active">Your
                    Activity</a>
                <!-- Admin -->
                <a *ngIf="!isShowMenu() && isAdmin()" class="myLink" mat-button
                    [routerLink]="['/confirm-reject-student']" routerLinkActive="router-link-active">Confirm-Reject
                    Student</a>
                <a *ngIf="!isShowMenu() && isAdmin()" class="myLink" mat-button [routerLink]="['/Add-activity']"
                    routerLinkActive="router-link-active">Add Activity</a>
                <!-- Logout -->
                <a *ngIf="!isShowMenu() && !isRegis()" class="logoutBtn" mat-raised-button color="warn"
                    [routerLink]="['/login']" routerLinkActive="router-link-active">Logout</a>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>