<div class="login-body">
    <div class="container">
        <p class="topic">Learning Through Activity</p>
        <p class="login-title">Login</p>
        <mat-card class="card">
            <div class="text-center">
                <img src="./assets/images/login.png" class="login-icon">
            </div>

            <form class="form">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" id="email">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input [type]="hide ? 'text' : 'password'" matInput placeholder="Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>

                <div class="center">
                    <button type="button" mat-raised-button (click)="login()" class="btn-lg btn-block login-button">Log
                        in</button>
                </div>
                <mat-divider>or</mat-divider>
                <div class="button-center">
                    <button mat-raised-button class="btn-lg btn-block regis-button"
                        [routerLink]="['/student/registration']" routerLinkActive="router-link-active">Register</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>