<div class="container">
    <mat-card class="title">
        <p>Profile</p>
    </mat-card>

    <mat-card class="contentContainer">
        <form style="margin-left: 1em" [formGroup]="form" (submit)="updateProfile()">

            <div class="center">
                <mat-card class="card-img">
                    <mat-card-header>
                    </mat-card-header>
                    <img mat-card-image class="img" [attr.src]="student?.image" [alt]="student?.name">
                </mat-card>
            </div>

            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="First name" formControlName="name" [value]="student?.name"
                                required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="surname" formControlName="surname" [value]="student?.surname"
                                required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-form-field class="full-width">
                <input matInput formControlName="dob" [matDatepicker]="dob" placeholder="Date of birth"  required>
                <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                <mat-datepicker #dob></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Student Id" formControlName="studentId" [value]="student?.studentId"
                    required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Major" formControlName="major" [value]="student?.major" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Year" formControlName="year" [value]="student?.year" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Enter your email" formControlName="email" [value]="student?.email"
                    required>
            </mat-form-field>

            <mat-form-field hintLabel="The image should contain url" class="full-width">
                <input matInput placeholder="file name" formControlName="image" [value]="student?.image" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Username" formControlName="username" [value]="student?.username" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Password" formControlName="password" [value]="student?.password" required>
            </mat-form-field>

            <div class="center">
                <button mat-raised-button color="primary" type="submit" class="update-button"
                    [disabled]="!form.valid">Update</button>
            </div>
        </form>
    </mat-card>
</div>