<div class="container">
  <mat-card class="title">
    <p>Activities</p>
  </mat-card>

  <mat-card class="contentContainer">
    <mat-form-field appearance="outline">
      <mat-label>Search Activity</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Searce by activity name or period of registration">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="tableContainer">
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity Name</th>
          <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
        </ng-container>
        <!-- Date Column -->
        <ng-container matColumnDef="host">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
          <td mat-cell *matCellDef="let activity">{{activity.host}}</td>
        </ng-container>
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let activity">{{activity.date}}</td>
        </ng-container>
        <!-- Time Column -->
        <ng-container matColumnDef="periodRegis">
          <th mat-header-cell *matHeaderCellDef>Period of regis.</th>
          <td mat-cell *matCellDef="let activity">{{activity.periodRegis}}</td>
        </ng-container>
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
        </ng-container>
        <!-- Time Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
        </ng-container>
        <!-- Enroll button Column -->
        <ng-container matColumnDef="btnCol">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let activity">
            <div class="center">
              <button mat-raised-button color="primary" class="center-button"
                (click)="openActivityDetail(activity)">Enroll</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="list-row"></tr>
      </table>

      <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </mat-card>
</div>