.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.contentContainer {
    padding: 30px;
    margin-top: 10px;
}

.title {
    padding: 20px 30px;
    background-color: rgb(228, 74, 95);
    color: white;
    font-size: 25px;
}

.full-width {
    width: 100%;
}

.center-text {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.question {
    padding-top: 20px;
}

#backBtn {
    margin: 6px 20px 0px 2px;
    cursor: pointer;
    transition: 400ms;
}

#backBtn:hover {
    color: rgb(167, 167, 167);
}
  
#backBtn:active {
    color: rgb(83, 83, 83);
}

#updateBtn[disabled]{
    background-color: rgb(178, 180, 190);
}

#updateBtn {
    color: white;
    background-color: rgb(228, 74, 95);
    margin-top: 30px;
    width: auto;
    height: auto;
    padding: 5px 20px;
}

.divider {
    margin: 10px 0 5px 0;
}