<div class="container">
    <mat-card class="title">
        <p>Students Waiting List</p>
    </mat-card>
    <mat-card class="contentContainer">
        <mat-form-field appearance="outline">
            <mat-label>Searce Activity</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Searce by activity name">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="tableContainer">
            <table mat-table class="full-width-table" matSort aria-label="Elements">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>id.</th>
                    <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
                </ng-container>
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let activity">{{activity.date}}</td>
                </ng-container>
                <!-- Time Column -->
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                    <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
                </ng-container>
                <!-- View button Column -->
                <ng-container matColumnDef="viewBtn">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let activity">
                        <div class="center">
                            <button mat-raised-button color="primary" class="center-button"
                                [routerLink]="['/teacher/view-student-list/'+activity.id]"
                                routerLinkActive="router-link-active">View
                                Student</button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
                [pageSizeOptions]="[25, 50, 100, 250]">
            </mat-paginator>
        </div>
    </mat-card>
</div>